/*Add CSS styles here*/
/*ADDING LINE TO REUPLOAD*/
.countries {
    stroke: #CCC;
    fill-opacity: 0.2;
    stroke-width: 1px;
}

.regions {
    fill-opacity: 0.2;    
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}

.map {
    border: medium solid #999;
}